@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
}

body {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.overflow-y-auto,
.overflow-auto,
.overflow-y-scroll {
    scrollbar-gutter: stable;
}